<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <title>글 작성</title>
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-4">글 수정</h1>
    <form action="" th:action method="post" th:object="${post}">
        <div class="form-group">
            <label for="title">제목</label>
            <input type="text" class="form-control" id="title" name="title" value="title" th:value="*{title}" required>
        </div>
        <div class="form-group">
            <label for="content">내용</label>
            <textarea class="form-control" id="content" name="content" rows="10" th:text="*{content}" required>content</textarea>
        </div>

        <hr class="my-4">
        <button type="submit" class="btn btn-primary">수정</button>
        <a href="page.html" th:href="@{{postId}(postId=*{postId})}" class="btn btn-secondary back-to-list-btn">취소</a>

    </form>
</div>
</body>
</html>