<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .post-container {
            margin-top: 20px;
        }
        .post-title {
            margin-bottom: 20px;
        }
        .post-content {
            margin-bottom: 20px;
        }
        .my-btn{
            display:flex;
            justify-content: space-between;
        }
        .my-btn-margin{
            margin-left:6px;
        }
        .comments {
            border-left: 2px solid #eee;
            padding-left: 15px;
        }

        .comments {
        border-left: 2px solid #eee;
        padding-left: 15px;
}

    </style>
</head>
<body>

<div class="container post-container">
    <div class="row">
        <div class="col-md-8 offset-md-2" th:object="${post}">
            <div class="post-title">
                <h1 th:text="*{title}">게시글 제목</h1>
                <div class="d-flex w-100 justify-content-between">
                    <p class="text-muted">작성자: <span th:text="*{username}">홍길동</span> | 날짜: <span th:text="*{createTime}">2024년 8월 7일</span></p>

                    <div th:if="${currentUsername} == ${post.username}" class="my-btn">
                        <a class="btn btn-light" href="#" th:href="@{/post/edit/{postId}(postId=*{postId})}">수정</a>
                        <form th:action="@{/post/delete/{postId}(postId=*{postId})}" method="post">
                            <button type="submit" class="btn btn-secondary my-btn-margin">삭제</button>
                        </form>
                    </div>

                </div>
            </div>

            <hr class="my-4">

            <div class="post-content">
                <p th:text="*{content}">여기에 게시글 내용을 작성.</p>

            </div>
            <hr class="my-4">

            <a href="postList.html" th:href="@{/post}" class="btn btn-primary back-to-list-btn">목록으로 돌아가기</a>

            <hr class="my-4">


            <div class="mt-4" >
                <h5>댓글</h5>
                <br>

                <div class="comments" th:each="comment: ${comments}" th:if="${not #lists.isEmpty(comments)}">
                    <div class="comment">
                        <strong  th:text="${comment.nickname}">홍길동</strong>
                        <div><br></div>
                        <p th:text="${comment.content}">댓글 내용 ㅇㅇㅇ.</p>

                        <div class=" my-btn">
                            <small  class="text-muted" th:text="${comment.createTime}">2024.08.08</small>
                            <span th:if="${currentUsername} == ${comment.username}">
                              <form method="post"
                                      th:action="@{/post/{postId}/comment/{commentId}/delete(postId=*{postId},commentId=${comment.commentId})}">

                                <button class="btn btn-light btn-sm">수정</button>
                                <button type="submit" class="btn btn-secondary my-btn-margin btn-sm">삭제</button>
                            </form>

                            </span>

                        </div>
                    </div>

                    <hr class="my-4">
                </div>

                <form class="mt-3" th:action="@{/post/{postId}/comment(postId=${post.postId})}" method="post"
                    th:object="${postForm}"
                >
                    <div th:if="${#fields.hasErrors('content')}" style="color: red;">
                        <p th:errors="${postForm.content}"></p><!-- 'content' 필드의 에러 메시지 표시 -->
                    </div>
                    <textarea class="form-control" rows="3" placeholder="댓글을 작성하세요" name="content" ></textarea>
                    <button type="submit" class="btn btn-primary mt-2">등록</button>
                </form>
            </div>

        </div>


    </div>
</div>

</body>
</body>
</html>