<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .post-container {
            margin-top: 20px;
        }
        .post-title {
            margin-bottom: 20px;
        }
        .post-content {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>


<div class="container post-container">
    <div class="row">
        <div class="col-md-8 offset-md-2" th:object="${post}">
            <div class="post-title">
                <h1 th:text="*{title}">게시글 제목</h1>
                <div class="d-flex w-100 justify-content-between">
                    <p class="text-muted">작성자: <span th:text="*{username}">홍길동</span> | 날짜: <span th:text="*{createTime}">2024년 8월 7일</span></p>
                    <a href="pageEdit.html" th:href="@{/post/edit/{postId}(postId=*{postId})}">수정</a>
                </div>
            </div>

            <hr class="my-4">

            <div class="post-content">
                <p th:text="*{content}">여기에 게시글 내용을 작성.</p>

            </div>
            <hr class="my-4">

            <a href="postList.html" th:href="@{/post}" class="btn btn-secondary back-to-list-btn">목록으로 돌아가기</a>
        </div>

<!--            <div class="post-comments">-->
<!--                <h3>댓글</h3>-->
<!--                <div class="form-group">-->
<!--                    <label for="comment">댓글 작성:</label>-->
<!--                    <textarea class="form-control" id="comment" rows="3"></textarea>-->
<!--                </div>-->
<!--                <br>-->
<!--                <button type="button" class="btn btn-primary">댓글 등록</button>-->
<!--                <hr class="my-4">-->
<!--                <div class="mt-3">-->
<!--                    <h4>댓글 목록</h4>-->
<!--                    <br>-->
<!--                    <div class="comment">-->
<!--                        <p><strong>사용자1:</strong> 이 게시글 정말 유익하네요!</p>-->
<!--                    </div>-->
<!--                    <div class="comment">-->
<!--                        <p><strong>사용자2:</strong>이 게시글 정말 유익하네요 </p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

    </div>
</div>

</body>
</body>
</html>